<%= stylesheet_link_tag '/trainbuddy/stylesheets/login', :media => 'screen' %>
<% provide(:title, "Sign in") %>


<div id="login">
  <h1>Sign in</h2>
  
	<%= form_for(:session, url: sessions_path) do |f| %>
    	<p><%=f.label :email%></p>
      <%=f.text_field :email %>
    	<p><%=f.label :password%></p>
      <%=f.password_field :password%>
  
  	<div class="actions"><%= f.submit "Sign in", class: "btn btn-large" %></div>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path , class: "btn btn-inverse btn-small" %></p>
 </div>
 
 <div style="clear:both;"></div>
