<div id="carousel" class="carousel slide">

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
    <li data-target="#carousel" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">

    <div class="active item">
      <%= image_tag 'carousel/posting2.png', alt: 'query train time' %>
      <div class="carousel-caption">
        <h4>3 Ways to Query Train times</h4>
        <p>3 different ways to query the train time, so you pick the one you are comfortable with.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'carousel/broadcast2.png', alt: 'find train times' %>
      <div class="carousel-caption">
        <h4>Find Train Time and Match Nearby Friends</h4>
        <p>Query train times and match with friends that travel nearby</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'carousel/map2.png', alt: 'train map'  %>
      <div class="carousel-caption">
        <h4>Train Map and Friend Locations</h4>
        <p>Display friends' locations within the train network</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'carousel/posts_2.png', alt: 'news feeds'  %>
      <div class="carousel-caption">
        <h4>Friend Location Feeds</h4>
        <p>News feed on the friends' travel plans</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'carousel/stops2.png', alt: 'slide 3'  %>
      <div class="carousel-caption">
        <h4>Detail Stop Time</h4>
        <p>Find out the stop time on each of the stations</p>
      </div>
    </div>



  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>