<div class="span9">

  
  <ul class="nav nav-tabs" style="margin:0; padding:0;">
    <li><%=link_to("Map View", root_path)%></li>
    <li class="active"><%= link_to("Feeds", feeds_path(u_id: @user.id), remote: true) %></li>
  </ul>
  <div id="stops_times"><%= render 'share/pop-stops' if @stops%></div>
  
  <div class="tab-content feeds">
    <% @posts ||= "11" %>

    <div class="row-fluid">
      <div class="btn-group span4" style="text-align:center; padding:10px 20px;">
        <%= link_to 'Active only',    microposts_path(u_id:@user.id, posts:"#{@posts.first}1"),  
          {remote: true, class: "btn btn-mini#{" disabled" if @posts.last=="1" }" } %>
        <%= link_to 'incl. expired',  microposts_path(u_id:@user.id, posts:"#{@posts.first}0"),
          {remote: true, class: "btn btn-mini#{" disabled" if @posts.last=="0" }"}   %>
      </div>

      <% if @feed_items %>
        <div class="span8"><%= will_paginate @feed_items %></div>
      <%end%>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <% if @feed_items && @feed_items.any? %>
          <ul class="list-items posts">
            <%= render partial: 'share/feed_item', collection: @feed_items %>
          </ul>
        <% else %>
          <h5 style="margin: 2px 0 100px 20px;">NO feed item found.</h5>
        <% end %>
      </div>
    </div>
  </div>

</div>
