<li id="<%= feed_item.id %>">
  <div>
    <div class="left ">
      <%= image_tag feed_item.user.avatar.url(:small) %><br/>
      <%= link_to feed_item.user.name, feed_item.user %>
    </div>
    <% if current_user?(feed_item.user) %>
      <div class="x_icon">
        <%= link_to "x", feed_item, method: :delete, data: { confirm: "Delete ...?"}, title: feed_item.content %>
      </div>
    <% end %>
    <div>

      <%= wrap(feed_item.content) %>
      <% if feed_item.opt_link %>
        <p class="opt_link_info"><%= raw to_html_opt_links(feed_item.opt_link) %></p>
      <% end %>
      <p class="content_datetime"> Posted <%= time_ago_in_words(feed_item.created_at) %> ago</p>
    </div>

  </div>
</li>

