
<div class="span12">
  <h1>Relations</h1>

  <div class="row-fluid" style="border-bottom: 1px solid #aaa;" >
  	<div id="relate-menu" class="span11 offset1" style="float:left;">
	<%=link_to "Friends", relationships_path(type: "friends"), {class: "btn btn-small", remote: true} %> 
	<%=link_to "Pending", relationships_path(type: "pending"), {class: "btn btn-small", remote: true} %> 
	<%=link_to "Requested", relationships_path(type: "request"), {class: "btn btn-small", remote: true} %> 
	<%=link_to "Blocked", relationships_path(type: "block"), {class: "btn btn-small", remote: true} %> 
	<%=link_to "Suggest Friend", relationships_path(type: "suggest"), {class: "btn btn-small", remote: true} %> 
  	</div>
  </div>

  <div id="list-users" class="row-fluid" style="padding-top: 10px;">
    <%= render "related_users" %>
  </div>


</div>



