<div class="row" style="border-top: 1px solid #ccc; ">
  <div class="span1" style="text-align:center; vertical-align:middle; border: 0px solid green; ">
    <%= status_icon(mail.status) %> <br/><%= check_box_tag("mail_ids[]", mail.id) %>
  </div>

  <div class="span1" style="padding: 2px; text-align:center; border: 0px solid blue;">
    <%= link_to(mail) do %>
      <%=image_tag(mail.sender.avatar.url(:small), class: "img-polaroid") %><br/>
      <%= mail.sender.name%>
    <% end %>
  </div>

  <div class="span9" style="border: 0px solid red;" >
    <div class="row">
      <div class="span1"><strong>To :</strong></div>
      <div class="span8">
          <% mail.to_users.split(";").each do |name| %>
              <span><%= name[/=.+/].to_s[1...name.size] %><span>;
          <% end %>
      </div>
    </div>

    <div class="row">
      <div class="span8 offset1"><%=link_to(mail.subj,mail)%></div>
    </div>
    
    <div class="row">

      <div class="span8 offset1 content_datetime" style="border: 0px solid red;">Sent <%= time_ago_in_words(mail.created_at) %> ago</div>
    </div>


  </div>

</div>
