<div class="span12 form-inline">
  <h5 class="form-header"><%= @user.name%>'s Friends</h5>
  <div class="row-fluid">
    <div class="span12 thumb_alt" style="padding: 0 10px; ">
      <% if @users.empty? %>
        No user can be retrieved
      <% else %>
        <ul>
          <% @users.each do |u| %>
            <li><%=link_to(u) do%>
                  <%=image_tag(u.avatar.url(:thumb) )%>
                  <span class="desc"><%=u.name%></span>
                <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 form-supp" >
      <%= will_paginate @users, param_name:'friend_page', class: "pagination pagination-mini pagination-centered" %>
    </div>
  </div>
</div>
