<%if @users.nil? || @users.empty?%>
  <h2><strong>No user can be retrieve.</strong></h2>
<%else%>
  
  <div class="row-fluid"><div class="span9"><%= will_paginate @users %></div></div>

  <ul class="list-items">
    <% @users.each do |user| %>
      <li>
        <div class="row-fluid">
          <div class="span2">
            <%= link_to(image_tag(user.avatar.url(:small), class:"img-polaroid")+" #{user.login}", user ) %>
          </div>
          <div class="span6">
            <%= link_to('&times;'.html_safe, user, method: :delete, class: "close", data:{confirm: "Delete user ...?"} ) if current_user.admin? %>
            <h3><%= link_to user.name, user %></h3>
            <p>Relation : <%= Relationship.status_str(current_user.id, user.id) %></p>
          </div>
        </div>

      </li>
    <% end %>
  </ul>

<% end %>

