<% provide(:title, 'List users') %>


<div class="contentcontainer">
 
  <h1>User list</h1>

  <%= form_tag( { :action => "index" }, :method => "get") do  |f| %>
  <ul>
      <li><%= label_tag :name,  'Name' %> <%=text_field_tag :name, params[:name] %></li>
      <li><%= label_tag :email, 'Email'%> <%=text_field_tag :email, params[:email]%></li>
      <li><%= label_tag :phone, 'Phone'%> <%=text_field_tag :phone, params[:phone]%></li>
      <li><%= submit_tag "search" %> <span class="sml"> * self can be omitted in search</span></li>
  </ul>
  <% end %>

  <%if @users %>
    <div class="med link_blue" style="overflow: hidden;"><%= render 'users/list_users'%></div>
  <%end%>

</div>
