<% provide(:title, @user.name) %>

<%= javascript_tag do %>
$(function(){

  $("a#cust-name-edit").click(function(){
//    alert("custom-name-edit");
    $("#user_name").append("<%= escape_javascript(render('users/custom_name')) %>");
    return false;
  });

  $("a#href-request").click(function(){
//    alert("href-request");
    $("<%=escape_javascript(render('relationships/pop-request'))%>").insertAfter("#href-request");
    return false;
  });

  $("a#href-accept").click(function(){
//    alert("href-accept");
    $("<%=escape_javascript(render('relationships/pop-accept'))%>").insertAfter("#href-accept");
    return false;
  });
});
<% end %>




<div class="contentcontainer med left">
  <div class="user_Horz" style="float: left; margin: 10px 10px 50px 10px;">
    <%= image_tag @user.avatar.url(:large) %>
  </div>

  <div id="user_header" >
    <%= render 'users/user_name'%>
  </div>

  <p>
    <%= link_to(new_mail_path(to: @user.id), ) do%>
      <%= image_tag("/trainbuddy/images/email_draft.png", :alt => "Send Msg") %> Send msg
    <% end %>
  </p>

  <div id="relation_status"><%= render "relationships/status" %></div>
    <p><strong>URL : </strong> <%= link_to root_url + @user.to_permalink %> </p>
  </div>

<div class="contentcontainer sml right" style="overflow: hidden;">
  <div id="user_friends">
    <%if @users %>
      <%= render "users/friends" %>
    <% end %>
  </div>

  <div id="relation_form" style="margin: 5px 0 5px 0;">
    <% unless current_user?(@user) %>
    <%= render "relationships/form"%>
    <% end %>
  </div>
</div>

<div style="clear:both;"></div>
<div class="contentcontainer left" id="feeds"><%= render 'share/feeds' %></div>

