 <% provide(:title, 'New Post')%>

<div class="span12">
  <h3>New Post</h3>
  <h3 id="no-javascript">NO Javascript detected. Required Javascript to Work</h3>
  <h5>Use the Options Below to Fill-in the Post</h4>
  <div class="row-fluid">
  	<div class="span10">
      <%= form_tag microposts_path, class: "form-inline row-fluid" do %>
        <h5 class="form-header">Optional Posting</h5>
        <div class="controls controls-row">
          <div class="input-append span12" style="padding: 20px 20px 0;">
            <%=text_field_tag 'content', nil, {class: "span10", placeholder: "!tb#syd=ask#loc=cams2cent...."}%>
          <%=submit_tag "Send", class: "btn" %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 offset1">Chars Left : <span class="select-post-count">100</span></div>
        </div>
        <div class="row-fluid">
          <div class="span12 form-supp"><%=link_to "Quick Posting", root_path %></div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="row-fluid pad-top-down">
    <div class="span2"><h4>#syd* = </h4></div>
    <div class="span2">
      <%= select_tag 'syd-type', options_for_select([ "ask", "act" ], "ask"), class: "span12" %>
      <%= hidden_field_tag 'syd-input', '!tb#syd=ask'  %>
    </div>
    <div class="span8">
      <span id="syd-note" class="label label-info">Inquiry : no activity is recorded, no matching is search</span>
    </div>
  </div>

  <div class="row-fluid border-silver">
    <div class="span12">
      <div class="row-fluid pad-top-down">
        <div class="span2"><h4>#def * =</h4></div>
        <div class="span10">
          <%= text_field_tag 'def-input', nil, {class: "span4", placeholder:"predefined route + customized options below"}%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2 offset5"><h4>OR / AND</h4></div>
      </div>
      <div class="row-fluid pad-top-down">
      	<div class="span2"><h4>#loc * =</h4></div>
        <div class="span10" id="loc-fields">
          <%= select_tag('loc-value0', options_for_select(all_stations,0), class: "span2") %> 2 
          <%= select_tag('loc-value1', options_for_select(all_stations,0), class: "span2") %> 2 
          <%= select_tag('loc-value2', options_for_select(all_stations,0), class: "span2") %> 2 
          <%= select_tag('loc-value3', options_for_select(all_stations,0), class: "span2") %> 2 
          <%= select_tag('loc-value4', options_for_select(all_stations,0), class: "span2") %>
          <%= hidden_field_tag 'loc-input', nil  %>
        </div>
    </div>
    </div>
  </div>

  <div class="row-fluid pad-top-down">
    <div class="span2"><h4>#time=</h4></div>

    <div class="span10 " id="time-numeric">
        <%= select_tag 'time-type',options_for_select(["=","+"], "="), class: "span2" %>
        <span id="time-add" style="display: none;">
          <%= text_field_tag('time-value1', nil, placeholder:"dd", class: "span1", size:2, maxlength:2) %>
        </span>
        <span id="time-exact">
          <%= text_field_tag('time-value2', nil, placeholder:"hh", class: "span1", size:2, maxlength:2) %>:
          <%= text_field_tag('time-value3', nil, placeholder:"mm", class: "span1", size:2, maxlength:2) %>
        </span>
    </div>
    <%= hidden_field_tag 'time-input', nil  %>
  </div>

  <div class="row-fluid">
    <div class="span2"><h4>#subj = </h4></div>
    <div class="span10 pad-top-down">
      <%= text_field_tag 'subj-input', nil, {class: "span4", placeholder:"additional comment attach to this activity"}%>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2"><h4>#mate = </h4></div>
    <div class="span10 pad-top-down" ></div>
    <%= hidden_field_tag 'mate-input', nil  %>
  </div>
</div>

<%= javascript_tag do %>
$(function(){

  function textFilting(input)
    { return input.replace(/=|#/g, "");
    }

  function updateForm()
  { 
    var str = "";
    var tmp;
    if($("input#def-input").val().length>0)
      { str = "#def=" + textFilting($("input#def-input").val() );  }
    if($("input#loc-input").val().length>0)
      { str += $("input#loc-input").val(); }
    if(str.length < 4)
      { $("input#def-input").parent().addClass("label-important");
        $("input#loc-input").parent().addClass("label-important");
        return; 
      }
    $("input#def-input").parent().removeClass("label-important");
    $("input#loc-input").parent().removeClass("label-important");

    if($("input#time-input").val().length>0)
      { str += $("input#time-input").val(); }
    if($("input#subj-input").val().length>0)
      { str += "#subj=" + textFilting( $("input#subj-input").val() ); }
      
//      $("input#select-post-text").val( $("input#syd-input").val() + str);
//      $("input#content").val($("input#select-post-text").val());
      str = $("input#syd-input").val() + str
      $("input#content").val( str );

      $("div#select-post-count").text("Chars Left: "+ (100 - str.length));
  }

  $("h3#no-javascript").remove();

  /* syd */
  $("select#syd-type").change(function(){
    if(this.value == "act")
      { $("input#syd-input").val("!tb#syd=act"); 
        $("span#syd-note").text("Recorded : Activity is logged and updates when matche is found");
      }
    else
      { $("input#syd-input").val("!tb#syd=ask");
        $("span#syd-note").text("Inquiry : no activity is recorded, no matching is search");
      }
    updateForm();
  });

  /* text input changes */
  $("input#def-input, input#time-input, input#subj-input, input#mate-input").change(function(){
    updateForm();
  });

  /* loc */
  $("div#loc-fields>select").change(function(){
    var str = "";
    $("div#loc-fields>select").each(function(){
      str += $(this).children("option:selected").val();
    });
    if (str.indexOf("2",1) > 0 ) 
      { $("input#loc-input").val("#loc=" + str.substring(1));}
    else
      { $("input#loc-input").val(null); }

//    alert($("input#loc-input").val() );
    updateForm();
  });

  /* time */
  $("select#time-type").change(function(){ 
    if(this.value == "=")
      { $("input#time-value1").val(null);
        $("span#time-add").css("display","none");
        $("span#time-exact").css("display","inline");
      }
    else
      { $("input#time-value2").val(null);
        $("input#time-value3").val(null);
        $("span#time-exact").css("display","none");
        $("span#time-add").css("display","inline");
      }
  });

  $("span>input#time-value1").change(function(){
    var str = this.value.match(/\d{1,2}/);
    this.value = str;
    if(str) 
      { $("input#time-input").val( "#time=+" + str ); 
        updateForm();
      }
  });

  $("span#time-exact>input").change(function(){
    // var hh = $("input#time-value2").val();
    var hh = $("input#time-value2").val().match(/2[0-4]|1\d|0\d|\d/);
    var mm = $("input#time-value3").val().match(/[0-5]\d/);
    if(!mm)
      { mm = "00"; }
    $("input#time-value3").val(mm);

    if(hh)
      { $("input#time-value2").val(hh); 
        $("input#time-input").val("#time=" + hh + ":" + mm);
        updateForm();
      }
    else
      { $("input#time-value2").val(null);
        $("input#time-input").val(null);
      }

  });


});
<% end %>

