<div class="row-fluid">


  <div class="span11" style="text-align: center;">
    <% if signed_in? %>
      <!-- form contains row -->
      <%= render 'microposts/form' %>
      <div class="row-fluid news"><%= render "map/map" %></div>
      <% content_for :lmenu do %>
        <%= javascript_tag  do %>
          $("div#lmenu>div>a#map").removeClass("btn-primary");
        <% end %>
      <% end %>
      <% provide(:title, 'Home')%>

    <% else %>
      <div class="row-fluid">
        <div class="span9 offset1">
          <div><%= render 'share/carousel'%></div>
        </div>
        <div class="span2"><h2 id="home-header">Trainbuddy</h2></div>
      </div>

      <% provide(:title) %>
    <% end %>
  </div>


  <div class="span1" id="flash_message"><%=render 'share/flash_message'%></div>
</div>
