<div id="header" class="navbar navbar-fixed-top navbar-inverse ">
  <div class="navbar-inner">
    
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to 'Trainbuddy', root_path, class:"brand", id:"logo" %>


      <div class="nav-collapse collapse pull-right">
        <ul class="nav">

          <% if signed_in? %>
            <li class="dropdown">
              <%=link_to root_path, id: "nav-v-dropdown" do %><i class="icon-home"></i><%end%>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-v-dropdown">
                <li><%= link_to "Home", root_path%></li>
                <li class="divider"></li>
                <li><%= link_to "About", about_path%></li>
                <li><%= link_to "Contact", contact_path%></li>
                <li><%= link_to "Help", help_path%></li>
              </ul>
            </li>    

            <li class="dropdown">
              <%= link_to mails_path(folder: "inbox"), id: "nav-message-dropdown", class: "dropdown-toggle #{"active" unless current_user.unread_mails.empty? }" do%>
                <i class="icon-envelope "></i>
              <% end %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-message-dropdown">
                <li><%=link_to "Compose", new_mail_path%></li>
                <li class="divider"></li>
                <li style="white-space:nowrap;">
                  <%=link_to mails_path(folder: "inbox") do %>
                    <%unless current_user.unread_mails.empty?%>
                      Inbox - New : <span class="badge badge-info"><%=current_user.unread_mails.count %></span>
                    <%else%>
                      Inbox
                    <%end%>
                  <%end%>
                </li>
                <li><%= link_to "Sent", mails_path(folder:"sent") %></li>
                <li><%= link_to "All", mails_path(folder: "all") %></li>
                <li class="divider"></li>
                <li><%= link_to "Broadcasts", broadcasts_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <%= link_to relationships_path(type: "friends"), id: "nav-relation-dropdown", class: "dropdown-toggle #{"active" unless current_user.relationships.where(status: 2).empty? }"  do%>
                <i class="icon-user"></i><i class="icon-user"></i>
              <% end %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-relation-dropdown">
                <li><%=link_to "Friends", relationships_path(type: "friends")%></li>

                <% pend_relations = current_user.relationships.where(status: 2) %>
                <% unless pend_relations.empty? %>
                  <li><%=link_to "New Requests - (#{pend_relations.size})", relationships_path(type: "pending") %></li>
                <% end %>




                <li><%=link_to "Requested", relationships_path(type: "request") %></li>
                <li class="divider"></li>
                <li><%=link_to "Blocked", relationships_path(type: "block") %></li>
                <li class="divider"></li>
                <li><%=link_to "Suggest Friend", relationships_path(type: "suggest") %></li>
                <li><%=link_to "Find a Friend", users_path %></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown pull-right">
              <%= link_to root_path+current_user.to_permalink do%>
                <%= current_user.login.to_s %>
              <%end%>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-user-dropdown">
                <li><%= user_login_path current_user, "User Info" %></li>
                <li class="divider"></li>
                <li><%= link_to "Account", edit_user_path(current_user) %></li>
                <li><%= link_to "Profile", edit_profile_path(current_user.id) %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", signout_path, method: "delete" %></li>
              </ul>
            </li>

          <%else%>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Login", signin_path %></li>
          <%end%>

        </ul>
      </div>
    

  </div>

</div>