
<div id="lmenu">

<% if signed_in? %>

  <%= render 'layouts/quick_update' %>

  <div>
    <%= link_to 'Feeds', feeds_path, class: "links btn btn-primary", id: "feeds" %>
    <%= link_to 'Map View', root_path, class: "links btn btn-primary", id: "map" %>

    <div class="menu-group">
      <div class="menu-heading">
        <a href="#account" data-toggle="collapse" data-parent="#lmenu">Account</a>
      </div>
      <ul id="account" class="menu-body collapse">
        <li><%= link_to "Setting", edit_user_path(current_user) %></li>
        <li><%= link_to "Profile", edit_profile_path(current_user.id) %></li>
        <li><%= link_to "Invitations", new_invitation_path %></li>
      </ul>
    </div>


    <div class="menu-group">
      <div class="menu-heading">
        <a data-toggle="collapse" data-parent="#lmenu" href="#msg">Messages</a>
      </div>
      <ul id="msg" class="menu-body collapse">
        <li><%=link_to "Compose", new_mail_path%></li>
        <li><%= link_to "Inbox", mails_path(folder: "inbox") %></li>
        <li><%= link_to "Inbox", mails_path(folder: "sent") %></li>
        <li><%= link_to "Broadcasts", broadcasts_path %></li>
      </ul>
    </div>

    <div class="menu-group">
      <div class="menu-heading">
        <a data-toggle="collapse" data-parent="#lmenu" href="#friend">Friends</a>
      </div>
      <ul id="friend" class="menu-body collapse">
        <li><%=link_to "Friends", relationships_path(type: "friends")%></li>
        <li><%= link_to "Pendings", relationships_path(type: "pending") %></li>
        <li><%=link_to "Requested", relationships_path(type: "request") %></li>
        <li><%=link_to "Search", users_path %></li>
      </ul>
    </div>

  </div>
<% end %>


  <div class="menu-group">
    <div class="menu-heading">
      <a data-toggle="collapse" data-parent="#lmenu" href="#gen">Trainbuddy</a>
    </div>
    <ul id="gen" class="menu-body collapse">
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><%= link_to "Help", help_path%></li>
    </ul>
  </div>
  
  <%= yield :lmenu %>
</div>

