<!DOCTYPE html>
<html>
<head>
  <title> <%= site_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body id="<%= params[:controller].parameterize %>_controller">

  <%= render 'layouts/header'%>


  <div class="row-fluid" id="main">

    <!-- left Dark Bar start -->
    <div id="leftside" class="span2 "><%= render 'layouts/left_options' %></div>
    <!-- left Dark Bar end -->


    <!-- Main Content start -->
    <div id="main" class="span9" >
      <div class="row-fluid"><%= yield %></div>
      <%= render 'layouts/footer' %>
    </div>
    <!-- Main Content End -->

    <!-- Right Content start -->
    <div id="rightside" class="span1">
      <div id="flash_message"><%= render 'share/flash_message'%></div>
    </div>
    <!-- Right Content end -->

  </div><!-- row -->
</body>
</html>
