<!DOCTYPE html>
<html>
<head>
  <title> <%= site_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body id="<%= params[:controller].parameterize %>_controller">

	<%= render 'layouts/header'%>
<div class="container">

<div class="row">

  <!-- left Dark Bar start -->
  <div id="leftside">

      <%= render 'share/user_info' %>
      <%= render 'share/left_options' %>

  </div>
  <!-- left Dark Bar end -->


  <!-- Right Side/Main Content start -->
  <div id="rightside" class="span12" style="border: 0px solid blue;">
    <%= render 'share/flash_message' %>

		<%= yield %>

    <div style="clear:both;">
	   <p> <%= (request.referer).to_s + "?" + request.query_string %>
      		<%= debug(params) if Rails.env.development? %> </p>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <!-- Right Side/Main Content End -->



</div> <!-- row -->
</div> <!--  container -->
</body>
</html>
